<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <!-- replace it with video footages - or gif - show wheel -->
    <!-- <img src="holder.js/500x150"></a> -->
    <img src="https://thumbs.gfycat.com/PessimisticFixedCrow-small.gif"></a>
    
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">work</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <!-- <li class="nav-item"><a href="{{ site.baseurl }}/fun/">fun</a></li> -->
    </ul>
  </nav>

</header>
